@using Microsoft.AspNet.Identity
@using CRM.Application.Core.Resources.TimeRegistrations

@model CRM.Application.Core.ViewModels.CustomerCaseDatatableViewModel
@{
    Layout = null;
}
<div class="modal-dialog modal-md">
    <div class="modal-content" id="modalContent">
        <div style="background: dodgerblue;" class="modal-header">
            <button style="color: white" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" style="color: white" id="myModalLabel">@TimeReg.TimeRegistrations</h4>
        </div>
        <div class="modal-body">
            @{Html.RenderAction("TimeRegistrationForm", "Timeregistration");}

            @*<div style="max-height: 300px; padding-bottom: 15px; width:auto; overflow:auto;" >*@
            @*<div style="padding-right:0px" class="row col-md-12">*@
            @{Html.RenderAction("TimeRegistrationList", "Timeregistration");}

            @*</div>*@
            @*</div>*@

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<link href="~/Scripts/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/plugin/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/plugin/locale/da.js"></script>
<link href="~/Scripts/plugin/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).off("click", "#timeRegBtn");
    $(document).on("click", "#timeRegBtn", function () {
        $("#TimeRegModal").modal("show");
        $("#TimeRegModal").attr("data-caseId", $(this).attr("data-case-id"));
        getTimeRegtable($("#hiddenUserId").val());
        //$("#timeregTableReload").attr("data-caseId", id);
    });

    //clears modal when closed
    $("#TimeRegModal").on("hidden.bs.modal", function() {
        $("#TimeRegModal").attr("data-caseId", "");
        clearTimeRegModal();
    });

    // Timereg Are you sure you want to close?
    $("#TimeRegModal").on("hide.bs.modal", function (e) {
        if (!jQuery.isEmptyObject($("#timeRegTitle").val()) ||
            !jQuery.isEmptyObject($("#timeRegDescription").val())) {

            if (!confirm("Are you sure, you want to close?")) return false;
        };
    });

    function clearTimeRegModal() {

        if (typeof clearTimeRegForm === "function") {
            clearTimeRegForm();
        }
        if (typeof clearTimeRegList === "function") {
            clearTimeRegList();
        }
    }
   
</script>
