	<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i>unauthorized</h1>
                        <h2 class="font-xl"><strong>You are unauthorized to access this page!</strong></h2>
                        <br />
                        <p class="lead semi-bold">
                            <strong>Please contact your system administrator for help</strong><br><br>
                            <small>
                            </small>
                        </p>
                        <ul class="error-search text-left font-md">
                            <li><a href="@Url.Action("Index","Home")"><small>Go to My Dashboard <i class="fa fa-arrow-right"></i></small></a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end row -->

</div>
<!-- END MAIN CONTENT -->